@font-face {
	font-family: 'Poppins';
	src: url(https://fonts.google.com/share?selection.family=Poppins:wght@300%7CRoboto%20Mono:wght@300;400);
}


button:enabled:hover {
	cursor: pointer
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #F8F6F0;
	color: #975C22;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	/* border: 1px solid red; */
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: #975C22;
		background-color: #F8F6F0;
	}
}

/* Menu */


.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
	background-color: #C4955D;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.iconMenu {
	width: 15px;
	height: 15px;
}

.abas {
	display: flex;
	position: absolute;
	top: 10px;
	left: 10px;
	gap: 15px;

}

.isLoggedIn {
	position: absolute;
	top: 10px;
	right: 50px;
	display: flex;
	gap: 15px;

}

.abas button {
	width: 100px;
	height: 30px;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	color: #F8F6F0;
	transition-duration: 400ms;
}

.abas button:hover {
	transition-duration: 400ms;
	width: 100px;
	height: 30px;
	color: #975C22;
}

.abas button:disabled {
	width: 100px;
	height: 30px;
	background-color: #C4955D;
	color: #975C22;
}

.auth {
	position: absolute;
	top: 10px;
	right: 50px;
	display: flex;
	gap: 5px;
}

.auth button {
	width: 60px;
	height: 30px;
	background-color: #C4955D;
	color: #F8F6F0;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	transition-duration: 400ms;
}

.auth button:hover {
	width: 60px;
	height: 30px;
	color: #975C22;
	transition-duration: 400ms;
}


.isLoggedIn button {
	width: 100px;
	height: 30px;
	background-color: #C4955D;
	border: none;
	color: #F8F6F0;
	border-radius: 5px;
	transition-duration: 400ms;
}

.isLoggedIn button:hover {
	width: 100px;
	height: 30px;
	color: #975C22;
	background-color: #C4955D;
	transition-duration: 400ms;
}

.isLoggedIn button:disabled {
	width: 100px;
	height: 30px;
	background-color: transparent;
	color: #975C22;
}

/* ------------END-------------- */

/* Login */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.containerLogin {
	display: flex;
	align-items: center;
	justify-content: center;

}

.screen {
	background: linear-gradient(90deg, #975C22, #C4955D);
	position: relative;
	height: 600px;
	width: 600px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
	left: 40px;
}

.screen__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;
	right: 120px;
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #C4955D;
	top: -172px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #975C22, #C4955D);
	top: -24px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #975C22;
	top: 420px;
	right: 50px;
	border-radius: 60px;
}

.login {
	width: 400px;
	padding: 50px;
	padding-top: 125px;
}

.login__field {
	padding: 10px 0px;
	position: relative;
}

.login__icon {
	position: absolute;
	font-size: 24px;
	top: -40px;
	margin-left: auto;
	color: #975C22;
}

.login__input {
	border: none;
	border-bottom: 2px solid #F8F6F0;
	background: none;
	padding: 10px;
	padding-left: 30px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
	color: #975C22;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #C4955D;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #F8F6F0;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #975C22;
	box-shadow: 0px 2px 2px #C4955D;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #975C22;
	outline: none;
}

.button__icon {
	position: absolute;
	font-size: 24px;
	top: 200px;
	margin-left: auto;
	color: #975C22;
}

.social-login {
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	left: 160px;
	top: 150px;
}

.links a {
	margin: 5px 0;
	font-size: 0.75em;
	color: #F8F6F0;
	text-decoration: beige;
}

.links a:hover {
	color: #C4955D;
}

/* ------------END-------------- */



/* Footer */

.footer {
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
}

/* ------------END-------------- */



/* Stock */


.StockReact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.StockBody {
	display: flex;
	flex-direction: row;
}

.StockMenu {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 12px;
}

.StockMenu>button {
	color: #975C22;
	background-color: transparent;
	border: none;
}

.CatsReact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cats {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-evenly;
}

.cat {
	width: 350px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.catInfos {
	display: flex;
	flex-direction: row;
	gap: 35px;
}

.cat img {
	border-radius: 360px;
	width: 250px;
	height: 250px;
	object-fit: cover;
}

.StockHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;
	font-weight: bold;
}

.stockValidade {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
	left: 46%;
	margin-top: -20px;
}

.stockButton {
	width: 7px;
	height: 13px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #975C22;
}

.stockButtons {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: -25px;
	gap: 2px;
	left: 103%;
}

.stockQuantidade {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-top: -20px;
	left: 96%;
	gap: 7px;
}

.itemInfos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	padding-right: 20px;
}

.StockList {
	width: 80vw;
}

.StockBody {
	display: flex;
	flex-direction: column;
	position: relative;
}



/* search bar cats */

.contentInputSearchCats {
	background-color: #F8F6F0;
	border: 2px solid #975C22;
	gap: 5px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
}

.iconInputSearchCats {
	color: #975C22;
	background-color: #F8F6F0;
	width: 25px;
	height: 25px;
}

.inputSearchCats {
	background-color: #F8F6F0;
	border: none;
	outline: none;
	color: #975C22;
}

.alerta {
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

/* ADD ITEMS */
.addDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 150px;
	border-radius: 10px;
	background: #e0e0e0;
	box-shadow: 14px 14px 28px #8b8b8b,
		-14px -14px 28px #ffffff;
		padding: 20px;
	z-index: 10px;
}
.addDiv p{
	margin: 5px;
}
.topMenuButtonsStock{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 59vw;
}
/* ------------END-------------- */