
.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: center;
    align-items: center;
    border: 2px solid white;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    flex-direction: column;
    text-align: center;
    align-items: center;
    vertical-align: center;
    place-items: center;
    font-size: 66px;
    cursor: pointer;
    border: 2px solid white;
}

.cell img{
    max-width: 100px;
    max-height: 100px;
}

.cell:active{
    background-color: grey;
}

.tabuleiroGalo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

.botao {
    cursor: pointer;
    margin-top: 2rem;
    width: 10vh;
    height: 5vh;
    border-radius: 5px;
    border-style: none;
    font-size: 1rem;
    background: rgb(16,124,16);
    background: linear-gradient(90deg, rgba(16,124,16,1) 0%, rgba(0,111,205,1) 100%);
    color: white;
}

.botao:hover {
    background: rgb(16,124,16);
    background: linear-gradient(90deg, rgba(0,111,205,1) 0%, rgba(16,124,16,1) 100%);
}

.titulo {
    margin-bottom: 1rem;
}

.ps {
    color: #006fcd;
}

.xbox{
    color: #107c10; 
}